.table-wrapper {
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

table {
  width: 100%;
  height: 100%;
}

thead {
  position: sticky;
  top: 0;
  font-weight: 600;
  color: #d6dde2;
}

tr {
  display: grid;
  grid-template-columns: repeat(5, 20%);
}

td {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.125rem;
}

tbody {
  font-size: 14px;
}

tbody tr {
  opacity: 0.8;
}
